<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->

<!-- ============================================================== -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

{{!-- loading --}}
<div id="loading-circle" class="hidden" style="
    position: fixed;
    {{!-- top: 50%;
    right: 45%; --}}
    width:100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(148, 147, 147, 0.5);
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
  ">
    <div class="spinner" style="
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left: 4px solid #3498db;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite;
    "></div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
    data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header" data-logobg="skin5">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i class="ti-menu ti-close"></i>
                </a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-brand">
                    <a href="/cpanel/thong-ke" class="logo">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-start me-auto">
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <li class="nav-item search-box">
                        <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-magnify font-20 me-1"></i>
                                <div class="ms-1 d-none d-sm-block">
                                    <span>Search</span>
                                </div>
                            </div>
                        </a>
                        <form class="app-search position-absolute">
                            <input type="text" class="form-control" placeholder="Search &amp; enter" />
                            <a class="srh-btn">
                                <i class="mdi mdi mdi-close"></i>
                            </a>
                        </form>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-end">
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="
                    nav-link
                    dropdown-toggle
                    text-muted
                    waves-effect waves-dark
                    pro-pic
                  " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="javascript:void(0)"><i
                                    class="mdi mdi-account m-r-5 m-l-5"></i> My
                                Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i
                                    class="mdi mdi-wallet m-r-5 m-l-5"></i> My
                                Balance</a>
                            <a class="dropdown-item" href="/logout">
                                <i class="mdi mdi-power m-r-5 m-l-5"></i> Logout</a>
                        </ul>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/thong-ke"
                            aria-expanded="false">
                            <i class="mdi mdi-av-timer"></i>
                            <span class="hide-menu">Trang Chủ</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/user"
                            aria-expanded="false">
                            <i class="mdi mdi-account-network"></i>
                            <span class="hide-menu">Admin Chi Nhánh</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/tai-khoan"
                            aria-expanded="false">
                            <i class="mdi mdi-account-circle"></i>
                            <span class="hide-menu">Quản lý User</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/san-pham"
                            aria-expanded="false">
                            <i class="mdi mdi-arrange-bring-forward"></i>
                            <span class="hide-menu">Sản Phẩm</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/loai-san-pham"
                            aria-expanded="false">
                            <i class="mdi mdi-cube-outline"></i>
                            <span class="hide-menu">Loại Sản Phẩm</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/topping"
                            aria-expanded="false">
                            <i class="mdi mdi-border-none"></i>
                            <span class="hide-menu">Topping</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/chi-nhanh"
                            aria-expanded="false">
                            <i class="mdi mdi-file"></i>
                            <span class="hide-menu">Chi Nhánh</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/vong-quay"
                            aria-expanded="false">
                            <i class="mdi mdi-checkbox-blank-circle-outline"></i>
                            <span class="hide-menu">Vòng quay</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/voucher"
                            aria-expanded="false">
                            <i class="mdi mdi-credit-card"></i>
                            <span class="hide-menu">Voucher</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-5 align-self-center">
                    <h4 class="page-title">Thêm Dữ liệu</h4>
                </div>
                <div class="col-7 align-self-center">
                    <div class="d-flex align-items-center justify-content-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Trang chủ</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-body">
                        <h4 class="card-title">Thống kê</h4>
                        <div style="width: 80%; margin: auto;">
                            <!-- Thêm input cho ngày bắt đầu và kết thúc -->
                            <label for="ngayBatDau">Từ ngày:</label>
                            <input type="date" id="ngayBatDau">

                            <label for="ngayKetThuc">Đến ngày:</label>
                            <input type="date" id="ngayKetThuc">

                            <!-- Thêm select cho chọn chi nhánh -->
                            <label for="chiNhanhSelect">Chọn Chi nhánh:</label>
                            <select id="chiNhanhSelect">
                                <option value="all">Thống kê tất cả chi nhánh</option>
                                {{#each listChiNhanh}}
                                <option value="{{this.id}}" data-ten-chi-nhanh="{{this.ten_chi_nhanh}}">
                                    {{this.ten_chi_nhanh}}
                                </option>
                                {{/each}}
                            </select>
                            <input type="hidden" id="hiddenChiNhanh">

                            <!-- Sửa nút gọi hàm vẽ biểu đồ để thay đổi thành gọi API từ server -->
                            <button id="loadDataBtn">Hiển thị</button>
                            <canvas id="myChartDonHang"></canvas>
                            <canvas id="myChartDoanhThu"></canvas>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    let myChartDonHang, myChartDoanhThu;

    const fetchDataAndDrawCharts = async () => {
        const ngayBatDau = new Date(document.getElementById('ngayBatDau').value);
        const ngayKetThuc = new Date(document.getElementById('ngayKetThuc').value);
        const chiNhanh = document.getElementById('chiNhanhSelect').value;
        const hiddenChiNhanh = document.getElementById('hiddenChiNhanh');

        // Set the value of the hidden input to the selected branch name
        hiddenChiNhanh.value = document.getElementById('chiNhanhSelect').options[document.getElementById('chiNhanhSelect').selectedIndex].getAttribute('data-ten-chi-nhanh');

        try {
            // Clear existing charts
            clearCharts();

            if (ngayBatDau > ngayKetThuc) {
                await Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ngày bắt đầu không được lớn hơn ngày kết thúc',
                    cancelButtonText: 'OK',
                    allowOutsideClick: false,
                });
                return;
            } else if (ngayBatDau === null || ngayKetThuc === null) {
                await Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Vui lòng chọn ngày bắt đầu và ngày kết thúc',
                    cancelButtonText: 'OK',
                    allowOutsideClick: false,
                });
                return;
            }

            // Gọi API thống kê từ server
            const response = await fetch('/cpanel/thong-ke', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    ngaybatdau: ngayBatDau,
                    ngayketthuc: ngayKetThuc,
                    chiNhanh: chiNhanh,
                }),
            });

            if (!response.ok) {
                throw new Error('Failed to fetch data from the server');
            }

            const thongKe = await response.json();

            // Lấy canvas và context của biểu đồ số lượng đơn hàng
            const ctxDonHang = document.getElementById('myChartDonHang').getContext('2d');

            // Tạo biểu đồ cột cho số lượng đơn hàng
            myChartDonHang = new Chart(ctxDonHang, {
                type: 'bar',
                data: {
                    labels: ['Đơn Hàng Đã Hủy', 'Đơn Hàng Đã Hoàn Thành', 'Đơn Hàng Đang Xử Lý'],
                    datasets: [{
                        label: `Số lượng đơn hàng từ ${ngayBatDau.toLocaleDateString()} đến ${ngayKetThuc.toLocaleDateString()} của Chi nhánh ${hiddenChiNhanh.value}`,
                        data: [
                            thongKe.so_luong_don_hang_da_huy,
                            thongKe.so_luong_don_hang_da_hoan_thanh,
                            thongKe.so_luong_don_hang_dang_xu_ly,
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 205, 86, 1)',
                        ],
                        borderWidth: 1,
                    }],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                },
            });

            // Lấy canvas và context của biểu đồ doanh thu
            const ctxDoanhThu = document.getElementById('myChartDoanhThu').getContext('2d');

            // Tạo biểu đồ cột cho doanh thu
            myChartDoanhThu = new Chart(ctxDoanhThu, {
                type: 'bar',
                data: {
                    labels: ['Đơn Hàng Đã Hủy', 'Đơn Hàng Đã Hoàn Thành', 'Đơn Hàng Đang Xử Lý'],
                    datasets: [{
                        label: `Doanh thu từ ${ngayBatDau.toLocaleDateString()} đến ${ngayKetThuc.toLocaleDateString()} của Chi nhánh ${hiddenChiNhanh.value}`,
                        data: [
                            thongKe.gia_tri_don_hang_da_huy,
                            thongKe.gia_tri_don_hang_da_hoan_thanh,
                            thongKe.gia_tri_don_hang_dang_xu_ly,
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 205, 86, 1)',
                        ],
                        borderWidth: 1,
                    }],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                },
            });
        } catch (error) {
            console.error(error);
        }
    };

    const clearCharts = () => {
        const charts = [myChartDonHang, myChartDoanhThu];

        // Loop through each chart and check if it is initialized before destroying
        charts.forEach(chart => {
            if (chart && chart.hasOwnProperty('destroy') && typeof chart.destroy === 'function') {
                chart.destroy();
            }
        });
    };

    // Event listener for the "Hiển thị" button
    document.getElementById('loadDataBtn').addEventListener('click', fetchDataAndDrawCharts);
</script>