<header>
  <link rel="stylesheet" href="/dist/css/dialog.css" />
</header>
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
  data-boxed-layout="full">
  <header class="topbar" data-navbarbg="skin6" style="background-color: rgba(20, 11, 11, 0)">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
      <div class="navbar-header" data-logobg="skin5">
        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
          <i class="ti-menu ti-close"></i>
        </a>
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-brand">
          <a href="/cpanel/thong-ke" class="logo">
            <!-- Logo icon -->
            <b class="logo-icon">
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo icon -->
              <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span class="logo-text">
              <!-- dark Logo text -->
              <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo text -->
              <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
            </span>
          </a>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav float-start me-auto">
          <!-- ============================================================== -->
          <!-- Search -->
          <!-- ============================================================== -->
          <li class="nav-item search-box">
            <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
              <div class="d-flex align-items-center">
                <i class="mdi mdi-magnify font-20 me-1"></i>
                <div class="ms-1 d-none d-sm-block">
                  <span>Search</span>
                </div>
              </div>
            </a>
            <form class="app-search position-absolute">
              <input type="text" class="form-control" placeholder="Search &amp; enter" />
              <a class="srh-btn">
                <i class="mdi mdi mdi-close"></i>
              </a>
            </form>
          </li>
        </ul>
        <!-- ============================================================== -->
        <!-- Right side toggle and nav items -->
        <!-- ============================================================== -->
        <ul class="navbar-nav float-end">
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-account m-r-5 m-l-5"></i> My
                Profile</a>
              <a class="dropdown-item" href="javascript:void(0)"><i class="mdi mdi-wallet m-r-5 m-l-5"></i> My
                Balance</a>
              <a class="dropdown-item" href="/logout">
                <i class="mdi mdi-power m-r-5 m-l-5"></i> Logout
              </a>
            </ul>
          </li>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/thong-ke" aria-expanded="false">
              <i class="mdi mdi-av-timer"></i>
              <span class="hide-menu">Trang Chủ</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/user" aria-expanded="false">
              <i class="mdi mdi-account-network"></i>
              <span class="hide-menu">Admin Chi Nhánh</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/tai-khoan" aria-expanded="false">
              <i class="mdi mdi-account-circle"></i>
              <span class="hide-menu">Quản lý User</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/san-pham" aria-expanded="false">
              <i class="mdi mdi-arrange-bring-forward"></i>
              <span class="hide-menu">Sản Phẩm</span>
            </a>
          </li>
                    <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/loai-san-pham" aria-expanded="false">
              <i class="mdi mdi-cube-outline"></i>
              <span class="hide-menu">Loại Sản Phẩm</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/topping" aria-expanded="false">
              <i class="mdi mdi-border-none"></i>
              <span class="hide-menu">Topping</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/chi-nhanh" aria-expanded="false">
              <i class="mdi mdi-file"></i>
              <span class="hide-menu">Chi Nhánh</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/vong-quay" aria-expanded="false">
              <i class="mdi mdi-checkbox-blank-circle-outline"></i>
              <span class="hide-menu">Vòng quay</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cpanel/voucher" aria-expanded="false">
              <i class="mdi mdi-credit-card"></i>
              <span class="hide-menu">Voucher</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-5 align-self-center">
        </div>
        <div class="col-7 align-self-center">
          <div class="d-flex align-items-center justify-content-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Admin Chi Nhánh
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Danh sách admin chi nhanh</h4>

              <a href="/cpanel/user/them-user"><span type="button" class="btn btn-success text-white">Thêm admin chi
                  nhánh</span></a>
              <br>
              <br>

              <h6 class="card-subtitle">Danh sách admin chi nhanh hiện có trong hệ thống</h6>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Tài khoản</th>
                      <th scope="col">Chi nhánh</th>
                      <th scope="col">Sửa</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each user}}
                    <tr>
                      <th scope="row"><span class="stt">
                          {{this.stt}}
                        </span></th>
                      <td>{{this.tai_khoan}}</td>
                      <td>{{this.ten_chi_nhanh}}</td>
                      <td class="td-button">
                        <a href="/cpanel/user/sua-user/{{this.id}}" class="btn btn-primary btn-edit"
                          style="margin-top: 0px; color: white; text-decoration: none;">
                          <span style="color: inherit;">Sửa</span>
                        </a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Call API
  const fetchAPI = async (url, option) => {
    const response = await fetch(url, option);
    return response.json();
  };

  // Delete product
  async function deleteProduct(id) {
    const url = `/cpanel/user/xoa-user/${id}`;
    const option = {
      method: 'GET',
      headers: { 'Content-Type': 'application/json' },
    };

    try {
      const response = await fetchAPI(url, option);

      if (response.result === 'success') {
        Swal.fire({
          title: 'Đã xóa!',
          text: 'Xóa admin chi nhanh thành công.',
          icon: 'success',
          showConfirmButton: false,
          timer: 1000,
        });

        setTimeout(() => {
          window.location.reload();
        }, 1000);
      } else {
        Swal.fire({
          title: 'Lỗi!',
          text: 'Xóa admin chi nhanh thất bại.',
          icon: 'error',
        });
      }
    } catch (error) {
      console.error(error);
    }
  };

  // Confirm delete
  async function confirmDelete(id) {
    Swal.fire({
      title: 'Xác nhận xóa admin chi nhanh',
      text: 'Bạn có chắc chắn muốn xóa admin chi nhanh này?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Xác nhận',
      cancelButtonText: 'Hủy',
    }).then((result) => {
      if (result.isConfirmed) {
        deleteProduct(id);
      }
    });
  }
</script>